In [1]:
import psycopg2
import pandas as pd

In [3]:
conn = psycopg2.connect(database = "warcraft_db",
                        user = "postgres",
                        host = "localhost",
                        password = "postgres",
                        port = 5432)


cur = conn.cursor()
cur.execute('SELECT * FROM player;')
rows = cur.fetchall()
conn.commit()
conn.close()

In [4]:
df = pd.DataFrame(rows, columns=["ID","Age","Gender", "Sexuality", "Country", "Server"])

df.head()

   ID       Age  Gender Sexuality    Country Server
0   1  18 to 30  Female    Bi/Pan        USA    PvE
1   2  18 to 30   Other       Gay  Indonesia     RP
2   3  18 to 30  Female    Bi/Pan        USA    PvE
3   4  18 to 30    Male       Gay    England    PvE
4   5  18 to 30    Male  Straight        usa    PvE